html
{
    background-color: #d6d8d8;
}

.wrapper
{
    width: 960px;
    margin: 0 auto;
    border-top: none;
    font-family: arial;
    font-size: 14px;
    padding: 10px;
    background-color: white;
    position: relative;
    top: 30px;
    -webkit-box-shadow: 2px 2px 1px #999;
    box-shadow: 2px 2px 1px #999;
    -moz-box-shadow: 2px 2px 1px #999;
}

#home #head
{
    border-bottom: solid 1px #bbb;
    position: fixed;
    background-color: black;
    color: white;
    margin: 0 auto;
    width: 100%;
    height: 30px;
    z-index: 2;
}

#home #sample_ajax_status
{
    width: 16px;
    height: 16px;
    margin-left: 4px;
    background-image: url("images/loader.gif");
}

#home .loading
{

}

#home #toggle_refresh
{
}

.right
{
    float: right
}

.left
{
    float: left
}

.clear
{
    clear: both
}

.status_icon
{
    width: 16px;
    height: 16px;
    background-color: green;
}

.status_icon
{
    float: left;
    margin-right: 4px;
}

#stream_list table
{
    width: 100%;
}

.status_container
{
    width: 20px;
    padding-left: 2px;
}

.stream_name
{
    padding-left: 10px;
}

.unify_name
{
    font-weight: bold;
}

.sample_interface
{
    color: #888;
}

.upstream_rate
{
    margin-left: 4px;
}

.detail
{
    font-size: 12px;
}

.detail td
{
    padding-bottom: 30px;
}

.detail td > div
{
    margin: 4px auto;
}

.simple
{
    background-color: #fefefe;
    border-bottom: solid 1px #999;
    border-top: solid 2px #999;
}

.detail_title
{
    width: 100px;
}

.sample_time
{
    color: #888;
    width: 180px;
    font-size: 12px;
}

.margin-left-4
{
    margin-left: 4px;
}

#notify
{
    position: fixed;
    left: 50%;
    margin-left: -80px;
    background-color: #7a8;
    padding: 4px;
}

#copyright
{
    position: fixed;
    left: 0px;
    bottom: 0px;
    color: #555;
}
